---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
    {% if page.date %}
      <p class="post-meta"><i class="fa-solid fa-calendar fa-sm"></i> Created: {{ page.date | date: '%B %d, %Y' }}</p>
    {% endif %}
    {% if page.tags %}
      <p class="post-tags">
        {% for tag in page.tags %}
          <span class="badge bg-secondary"><i class="fa-solid fa-hashtag fa-sm"></i> {{ tag }}</span>
        {% endfor %}
      </p>
    {% endif %}

    <!-- Add buttons for GitHub and External URL -->
    {% if page.github or page.external_url %}
      <div class="button-group mt-3 mb-4">
        {% if page.github %}
          <a href="{{ page.github }}" target="_blank" rel="noopener noreferrer">
            <button class="btn btn-primary github-btn" data-toggle="tooltip" title="Code Repository">
              <i class="fa-brands fa-github"></i> View Code
            </button>
          </a>
        {% endif %}

        {% if page.external_url %}
          <a href="{{ page.external_url }}" target="_blank" rel="noopener noreferrer">
            <button class="btn btn-success url-btn ml-3" data-toggle="tooltip" title="Project Website">
              <i class="fa-solid fa-link"></i> View Project
            </button>
          </a>
        {% endif %}
      </div>
    {% endif %}
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
